*.pyc
*.py~
*.ui
*.db
*.db.pruebas
*.txt
*.csv
*.sql
*.sql~
*.bak
*.png
.idea/
.vscode/
gammu
lite
.gammurc
.gammurc~

*.26ene16
__init__.py
__pycache__/
sys

Pipfile
Pipfile.lock
comanda
registro
registro *
comanda_2019dic5.py
DATABASE_URL
LICENSE
MyWindow_2015sep25.py
MyCommands
TablasSQLite
postgres_db.py